 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div>
                    <p>I’m a web developer, with strong interests in Ruby on Rails and iOS. I thrive in situations requiring me to think on my feet to tackle new challenges, whether technology or people-based.

                    <p>Having worked as a freelance developer for the past few years, I’ve learned that who you work with is just as important as what you’re working on. I’m seeking the opportunity to join a motivated team to both improve my skills and put what I’ve learned to the test in an environment filled with people as passionate as me.</p>

                    <p>I'd love to hear from you!</p>
                </div>
            </div>
        </div>
    </section>
